/* Your CSS code here. */
.head{
	background-color:#e5e5e5;
	padding:20px;
}
nav{
	background-color:black;
	padding:10px;
	color:white;
}
.container{
	display:flex;
	flex-direction:row;
}
.first{
	background-color:#f5f5f5;
	padding:20px;
}
.second{
	background-color:lightgray;
	padding:20px;
}
footer{
	background-color:#e5e5e5;
	padding:20px;
}
